In [1]:
import pandas as pd
import numpy as np
import pickle as pk

In [31]:
file_name = 'holo_dirty_sample'
df = pd.read_csv(file_name + '.csv')
df['behavior'] = np.zeros(len(df)).astype(np.int)

In [32]:
used_id = set()

used_id = set(list(df['Vehicle_ID']))

In [33]:
max_l = dict()
max_w = dict()
for i in range(len(df)):
    r = df.iloc[i]
    v_id = r.Vehicle_ID
    
    if v_id not in max_w.keys():        
        max_w[v_id] = r.v_Width
        max_l[v_id] = r.v_length
    else:
        max_w[v_id] = max(max_w[v_id], r.v_Width)
        max_l[v_id] = max(max_l[v_id], r.v_length)
        
for v_id in max_l.keys():
    if max_l[v_id] < 4:
        max_l[v_id] = 4.5
    if max_w[v_id] < 1.5:
        max_w[v_id] = 2

In [34]:
dT = 0.1
x = list()
y = list()
vehicles = dict()
show_up = set()
vel_sum = 0

id_map = dict()
discard_id = set()
id_cnt = 1
r_id_map = dict()

for i in range(len(df)):
    r = df.iloc[i]
    v_id = r.Vehicle_ID
    
    df.at[i,'v_Width'] = max_w[v_id]
    df.at[i,'v_length'] = max_l[v_id]
    
    if v_id in id_map:
        v_id = id_map[v_id]
    elif v_id in discard_id:
        while id_cnt in used_id:
            id_cnt += 1
        id_map[v_id] = id_cnt
        r_id_map[id_cnt] = v_id
        v_id = id_map[v_id]
        
    df.at[i,'Global_Time'] = df.at[i,'Frame_ID'] * 100
    df.at[i,'Local_X'] = df.at[i,'Global_X'] - df.at[0, 'Global_X']
    df.at[i,'Local_Y'] = df.at[i,'Global_Y'] - df.at[0, 'Global_Y']
    
    if v_id not in vehicles.keys():
        vehicles[v_id] = i
        df.at[i,'v_Acc'] = 0
    else:
        df.at[i,'v_Acc'] = df.at[i,'v_Vel'] - df.at[vehicles[v_id], 'v_Vel']

    show_up.add(v_id)

    if i == len(df)-1 or r.Global_Time != df.iloc[i+1].Global_Time:
        for v_id in vehicles.keys():
            if v_id not in show_up:
                vehicles.remove(v_id)
                discard_id.add(v_id)
                id_map.remove(r_id_map(v_id))

In [35]:
df[['Local_X', 'Local_Y', 'Global_X', 'Global_Y', 'v_Vel', 'v_Acc','v_length', 'v_Width', 'Space_Headway' ]] *= 3.28

In [38]:
columnsTitles=["Local_X","Local_Y"]
df[["Local_X","Local_Y"]]=df.reindex(columns=columnsTitles)
df['Local_X'] = -df['Local_X']

In [39]:
df[:10]

     Local_X    Local_Y
0   -0.00000    0.00000
1  185.10680  109.52904
2  314.05016  131.12456
3 -382.86784 -142.75872
4  -60.46680    4.98560
5 -194.47120  -65.95752
6  238.85288   83.89584
7  293.72072   94.62472
8  258.08024  102.94280
9    0.42968   -1.07584

In [40]:
df.to_csv('holo_sample_cleaned.csv')